extends layout

block content
	.welcome-message
		h1
			| Welcome
		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			br
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		hr
	.quick-search
		form(method='post', action='/')
			.form-group
				input#name.form-control(type='text', name='name', placeholder='Name')
			.form-group
				input#description.form-control(type='text', name='description', placeholder='Description')
			.form-group
				input#date.form-control(type='text', name='date', placeholder='Date')
			input.btn.btn-outlined.btn-primary(type='submit', name='submit', value='Submit')
