doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title=title

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ' crossorigin='anonymous')

		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
		script(src='/javascripts/site.js')

	body

		aside#sidebar.sidebar
		aside#top-nav.top-nav
			.container-fluid.m-0
				.row
					.col-1
						i#sidebar-toggler.sidebar-toggler.fas.fa-bars.fa-2x
					.col-md-3.col-sm-4.col-5.offset-md-8.offset-sm-7.offset-6.p-0
						#signin-butt.signin-butt.float-right
							i.top-nav-icon.fas.fa-sign-in-alt.fa-2x
							div#signin-text.signin-text
								h4
									|Sign In
						#signup-butt.signup-butt.float-right
							i.top-nav-icon.fas.fa-user-plus.fa-2x
							div#signup-text.signup-text
								h4
									|Sign Up

		#main-content.container-fluid
			
			block content